/* Estilos para mover todo a la derecha */
body.right {
    justify-content: flex-end;
}

/* Estilos generales de la página */
body {
    flex-direction: column; /* Mantiene la estructura si agregas más contenido */
    align-items: center; /* Centra verticalmente */
    display: flex;
}




/* Estilos para mover todo con margen en píxeles */
body.right-margin {
    justify-content: flex-start;
    margin-left: 50px;
}

/* Estilos para mover todo con margen en porcentaje */
body.right-percentage {
    justify-content: flex-start;
    margin-left: 10%;
}

/* Estilos para centrar todo en el medio */
body.center {
    justify-content: center;
    align-items: center;
}

/* Contenedor principal */
.container {
    text-align: center;
    background-color: #0d0d22;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    max-width: 420px;
    color: white;
}

/* Estilos para los inputs dentro del contenedor */
.container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #8a2be2;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilos para los botones dentro del contenedor */
.container button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: linear-gradient(45deg, #8a2be2, #ff69b4, #00bfff);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container button:hover {
    transform: scale(1.02);
}

/* Botón para cerrar sesión */
#logoutBtn {
    background: rgb(180, 48, 48);
}

/* Estilos de la imagen de perfil */
.container .profile-picture {
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: none;
}

/* Panel premium */
.container .premium-panel {
    margin-top: 20px;
    padding: 15px;
    background-color: #010013;
    border-radius: 5px;
}

/* Estilos generales de los botones */
.button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: linear-gradient(45deg, #8a2be2, #ff69b4, #00bfff);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

p {
    font-size: 14px;
}

a {
    color: #8a2be2;
    text-decoration: none;
}